<mat-dialog-content>
    <form class="form"  #bucketForm="ngForm">
        <mat-form-field class="example-full-width">
            <h1>Vuoi disattivare le notifiche?</h1>
            <p>Sarà possibile riattivare le notifiche in seguito</p>
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" (click)="notificheOff()">Disattiva Notifiche</button>
            <button style="float: right" mat-flat-button color="warn" (click)="dialogRef.close()">Annulla</button>
        </div>
    </form>
</mat-dialog-content>